#components-form-demo-normal-login .login-form {
    background-image: url("1.jpg");



}
#components-form-demo-normal-login .login-form-forgot {
     float: right;
 }
#components-form-demo-normal-login .login-form-button {
    width: 300px;
}
Input{
    width: 300px;
}